.navbar {
  background: green;
  position: relative;
}
.container {
  width: 800px;
  height: 500px;
  background: blue;
}

.left,
.right {
  width: 300px;
  height: 300px;
}

.left {
  background: red;
  float: left;
}

.right {
  background: yellow;
  float: right;
}

.clearfix {
  clear: both;
}

.footer {
  background-color: black;
  color: white;
}
